// 全局scss变量
$orange: #ffc100;
$white: #fff;

$primary-color: #FF8402;
$info-color: #909399;
$success-color: #52c41a;
$warning-color: #faad14;
$danger-color: #ff4d4f;
// 侧边栏颜色
$aside-color: #1d1d1d;

$menu-width: 206px;